@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Css to elements*/
* {
  scroll-behavior: smooth;
}

body {
  margin-top: 185px;
}

#shadow_box {
  -webkit-box-shadow: 0px 14px 41px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 14px 41px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 14px 41px 0px rgba(0, 0, 0, 0.1);
}

#search_button_box {
  top: -24px;
}
.change_box,
.change_box2,
.change_box_child {
  border-radius: 10px;
}
.change_box_child > li,
.change_box_child2 > a {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.07);
}
.change_box_child > li:nth-child(1),
.change_box_child2 > a:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.change_box_child > li:last-child,
.change_box_child2 > a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#inside_wrapper{
  max-width: 1360px;
  padding: 80px 40px 80px 40px;
}

#booking_btn {
  max-width: 218px;
  width: 100%;
}
#info_box_child {
  padding: 32px 24px 32px 24px;
}
.active_info {
  margin-right: 20px;
}
#info_img_box {
  width: 150px;
  height: 150px;
}
#info_img_box > img {
  width: 50%;
  transform: translate(50%, 50%);
}

/* News Page */
.news_post,
.single_news_post_img {
  width: 24%;
}
/* SideBar */
.sidebar {
  display: none;
}
/* Filter */
.filter {
  transition: 0.5s all ease-in-out;
  left: -100%;
}

/* Add-object */
.add_choose_file_input {
  display: none;
}
/* Edit-object */
.edit_isEmpty_label {
  background: #fff;
}
#yes:checked ~ .edit_isEmpty_label1,
#no:checked ~ .edit_isEmpty_label2 {
  background: #009472;
  color: #fff;
}
/* Cabinet */
.cabinet_swiper {
  width: calc(100% - 305px);
}
@media (max-width: 1280px) {
  .changer_box,
  .search_inside_input_box {
    gap: 10px;
  }
  .swiper_imgBox {
    height: 230px;
  }

  /* Category page */
  .category_child1 {
    max-width: 260px;
    width: 100%;
  }
  .category_img_Box {
    height: 240px;
  }
  .category_product_p {
    margin-bottom: 20px;
  }
  /* Product Page */
  .product_detail {
    max-width: 260px;
    width: 100%;
  }
  .imgs_box {
    max-width: 140px;
  }
  /* Booking Page */
  .booking_aside1 {
    max-width: 260px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  body {
    margin-top: 118px;
  }
  /* Navbar */
  #navbar_ul {
    display: none;
  }
  #burger_menu {
    display: flex;
  }
  .header {
    height: 64px;
  }
  .header_choose_currency_p,
  .header_btn {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    top: 115px;
    height: calc(100vh - 115px);
    transition: 0.5s all ease-in-out;
    right: -100%;
  }
  .sidebarActive {
    right: 0;
  }
  /* Home Page */
  #search_input_box {
    padding: 50px 40px 30px 40px;
    gap: 20px;
    flex-direction: column;
  }
  #search_button_box {
    padding: 0px 40px 0px 40px;
  }
  #searchInputs {
    width: 100%;
  }
  .search_inside_input_box {
    gap: 20px;
  }
  .changer_box {
    flex-direction: column;
    gap: 20px;
  }
  .search_inside_input_box {
    width: 100%;
  }
  .search_btn {
    max-width: 100%;
  }
  .footer_first_col {
    display: none;
    margin-right: 50px;
  }

  .change_box {
    margin: 0;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 250px;
    overflow-x: scroll;
  }
  .change_box::-webkit-scrollbar {
    display: none;
  }
  .change_box_child {
    width: auto;
    display: flex;
  }
  .change_box_child > li {
    border-bottom: none;
    border-left: 0.5px solid rgba(0, 0, 0, 0.07);
    text-align: center;
  }
  .change_box_child > li:nth-child(1) {
    border-radius: 0;
    min-width: 170px;
  }
  .change_box_child > li:nth-child(2) {
    min-width: 290px;
  }
  .change_box_child > li:nth-child(3) {
    min-width: 220px;
  }
  .change_box_child > li:last-child {
    min-width: 170px;
    border-radius: 0;
  }
  /* Category Page */
  .category_child1 {
    display: none;
  }
  .category_box1 {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }
  .category_box2 {
    width: 100%;
  }
  /* Product Page */
  .product_comforts {
    display: none;
  }
  .product_slider {
    display: block;
  }
  .product_container_1 {
    flex-direction: column;
  }
  .product_detail {
    max-width: 100%;
    padding: 0;
    margin: 20px 0 0 0;
  }

  .product_form2 {
    flex-direction: column;
  }
  .product_inputBox1,
  .product_inputBox1 > input {
    max-width: 100%;
    width: 100%;
  }

  /* Booking Page */
  .booking_container1 {
    flex-direction: column;
  }
  .booking_box1,
  .booking_box2 {
    flex-direction: column;
    align-items: start;
  }
  .booking_box2 {
    gap: 20px;
  }
  /* Pay Page */
  .pay_box1 {
    flex-direction: column;
  }
  .pay_box1 > div {
    min-width: 100%;
    justify-content: start;
  }
  .pay_agree {
    padding-left: 0;
    padding-right: 0;
  }
  /* Thanks Page */
  .thank_giga > aside:nth-child(2) {
    padding-top: 0;
  }
  /* News Page */
  .news_post {
    width: 32%;
  }
  /* Single News Page */
  .single_news_box {
    flex-direction: column;
  }
  .single_news_imngBox {
    width: 100%;
  }
  .single_news_p {
    margin: 20px 0 0 0;
  }
  .single_news_post_img {
    width: 49%;
    min-height: 200px;
    margin-bottom: 20px;
  }
  .signup_br {
    display: none;
  }
  .singup_h2 {
    margin-bottom: 20px;
  }
  /* Add-Object Page */
  .add_lastForm {
    flex-direction: column-reverse;
  }
  .add_imgContainer {
    max-width: 100%;
  }
  .add_location {
    flex-direction: column;
  }
  .add_location_input,
  .add_location_box {
    max-width: 100%;
  }
  .add_location_box {
    padding: 0;
  }
  .add_location_box > div {
    position: initial;
    align-items: center;
  }
  .add_save_btn,
  .add_deleteAll_btn {
    max-width: 100%;
    width: 100%;
    min-width: auto;
    padding: 15px 0px 15px 0px;
  }
  /* Cabinet */
  .cabinet_swiper_imgBox {
    height: 200px;
  }
  .cabinet_change_box2 {
    width: 260px;
  }
  .cabinet_swiper {
    width: calc(100% - 260px);
  }
  .cabinet_userInfo_box {
    gap: 4px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  /* Home page */
  #homePage_title {
    font-size: 32px;
    line-height: 36px;
  }

  #homePage_subtitle {
    font-size: 22px;
  }

  .swiper_imgBox2 {
    height: 200px;
  }

  #search_box_container {
    padding-top: 45px;
    margin-bottom: 40px;
  }

  #search_button_box {
    gap: 6px;
    border-radius: 250px;
    background: #fff;
    padding: 0;
    overflow-x: scroll;
  }

  #search_button_box > button {
    padding: 10px 0px 10px 0px;
  }

  #search_button_box::-webkit-scrollbar {
    display: none;
  }
  .slick-next-arrow,
  .slick-prev-arrow {
    display: none;
  }
  #info_container {
    flex-direction: column;
  }
  #form_container {
    flex-direction: column;
  }
  #form_img_box {
    min-height: 228px;
  }
  #form_img {
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 228px;
  }
  #form_box {
    padding: 30px 20px 30px 20px;
  }
  #form_input_box {
    gap: 20px;
  }
  /* Footer */
  .footer_first_con {
    flex-direction: column;
    gap: 30px;
  }
  .footer2_box {
    flex-direction: column;
  }
  /* Category Page */
  .category_product {
    width: 48%;
  }
  /* Product Page */
  #caruosel {
    flex-direction: column;
  }
  .imgs_box {
    max-width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
  }
  .product_ul {
    gap: 2px;
  }
  .product_cost_share_like {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product_booking_btn {
    width: 100%;
    margin: 0;
  }
  .product_cost_share_like {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* Booking Page */
  .booking_GigaNiggaContainer {
    flex-direction: column;
  }
  .booking_aside1 {
    max-width: 100%;
  }

  .pay_hidden {
    display: none;
  }
  /* Thanks Page */
  .thank_giga {
    flex-direction: column-reverse;
    gap: 0;
  }
  .thank_giga > aside:nth-child(1) {
    max-width: 100%;
  }
  /* News Page */
  .news_post {
    width: 49%;
  }
  /* Add-object Page */
  .add_title {
    margin-bottom: 20px;
  }
  /* Cabinet */
  .cabinet_insideWrapper {
    text-align: start;
    align-items: start;
    flex-direction: column;
  }
  .cabinet_swiper_imgBox {
    height: 200px;
  }
  .cabinet_change_box2 {
    width: 100%;
  }
  .cabinet_swiper {
    width: 100%;
  }
}

@media (max-width: 640px) {
  #inside_wrapper{
    padding: 80px 30px 80px 30px;
  }

  #homePage_title {
    font-size: 26px;
    line-height: 30.38px;
  }

  #homePage_subtitle {
    font-size: 24px;
    line-height: 27.94px;
  }
  #standart_h2,
  #leftsided_h2,
  #aboutpage_h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .swiper_imgBox,
  .swiper_product_imgBox {
    height: 190px;
  }
  #info_box {
    flex-direction: column;
  }
  #info_box_child:nth-child(1) {
    margin-bottom: 20px;
  }
  #form_h2 {
    font-size: 22px;
  }
  #footer {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .footer_first_col {
    margin: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  #footer_second_col {
    flex-direction: column;
    align-items: center;
  }
  #footer_box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer_text {
    display: none;
  }
  .footer_social {
    display: none;
  }
  #footer_social2 {
    display: flex;
  }
  #footer_h3 {
    margin-bottom: 20px;
  }
  /* Category Page */
  .category_product {
    width: 100%;
  }
  /* Product Page */
  .review_none {
    display: none;
  }

  #con_4 {
    text-align: center;
  }
  /* Single News Page */
  .single_news_flexWrap {
    /* border-top: rgba(0, 148, 114, 1) solid 1px;
    margin-top: 40px;
    padding-top: 40px; */
    display: none;
  }
  .single_news_date {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  .single_news_p {
    font-size: 16px;
  }
  /* Add-Object Page */
  .add_form_container {
    padding: 20px;
  }

}

@media (max-width: 480px) {
  #inside_wrapper{
    padding: 55px 20px 55px 20px;
  }

  #homePage_title {
    font-size: 20px;
    line-height: 24.38px;
  }

  #homePage_subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
  }

  .swiper_imgBox {
    height: 200px;
  }

  #search_box_container {
    margin-bottom: 0;
  }
  #search_button_box {
    top: -20px;
  }
  #search_button_box > button {
    font-size: 14px;
  }
  .search_inside_input_box {
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
  }

  #search_input_box {
    padding: 30px;
  }

  #booking_btn {
    max-width: 100%;
  }
  #standart_h2 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24.38px;
  }
  #leftsided_h2 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24.38px;
  }

  #aboutpage_h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  #form_h2 {
    font-size: 20px;
    line-height: 24.38px;
  }
  #form_input_box {
    flex-direction: column;
    gap: 14px;
  }
  #form_btn {
    margin-top: 14px;
  }

  .change_box {
    top: 30px;
  }

  /* Category Page */
  .category_img_Box {
    height: 200px;
  }
  .category_product_p {
    font-size: 14px;
    line-height: 22px;
  }
  /* Product Page */
  .product_ul > li {
    font-size: 10px;
  }
  .product_container_1 > aside > p {
    font-size: 18px;
  }

  .product_form_box1 {
    flex-direction: column;
    gap: 5px;
  }

  .product_form_box1 > input {
    max-width: 100%;
  }

  .product_form_box2 {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: 10px;
  }
  .product_form_box2 > button {
    width: 100%;
  }

  .review_box {
    flex-direction: column;
  }

  #con_1 > div > h2 {
    margin-bottom: 0;
  }

  .con_4 > div > p {
    font-size: 14px;
  }

  .product_form2 {
    gap: 10px;
    padding: 20px;
  }
  .product_inputBox1 {
    flex-direction: column;
    gap: 10px;
  }

  .product_booking_btn {
    margin-bottom: 0;
  }

  /* Booking Page */
  .booking_imgBox {
    max-width: 100%;
    margin: 10px 0 0 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  #caruosel2 {
    flex-direction: column;
  }
  .booking_form {
    padding: 24px;
  }
  .booking_box1 {
    margin-bottom: 8px;
    gap: 8px;
  }
  /* Pay Page */
  .pay_box1 {
    gap: 8px;
  }
  .pay_form > input {
    margin: 8px 0 0 0;
  }
  .pay_submit {
    width: 100%;
  }
  /* Thanks Page */
  .thank_giga > aside:nth-child(2) > div {
    width: 56px;
    height: 56px;
    margin-bottom: 20px;
  }
  .thank_giga > aside:nth-child(2) > p {
    margin-top: 0px;
  }
  /* News Page */
  .news_post {
    width: 100%;
  }
  .news_firstBox {
    align-items: start;
    gap: 0;
    flex-direction: column;
  }
  /* Add-Object Page */
  .add_form_container {
    flex-direction: column;
  }
  .add_inputBox {
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
  }
  .add_input {
    margin: 0;
  }
  .add_location {
    margin-top: 8px;
  }
  .add_location_box > div {
    align-items: start;
    flex-direction: column-reverse;
  }
  .add_location_btn {
    max-width: 100%;
    width: 100%;
  }
  .add_checkbox_container {
    flex-wrap: wrap;
    margin: 0;
  }
  .add_checkbox_div {
    width: 49%;
    margin-bottom: 8px;
  }
  .add_btn_box {
    flex-direction: column;
    gap: 8px;
  }
  .add_photo_box {
    max-width: 100%;
  }
  .add_photo_box {
    gap: 20px;
  }
  .add_choose_file {
    flex-direction: column;
    align-items: start;
  }
  .add_choose_file_label {
    width: 100%;
  }

  .singup_textBox {
    margin-bottom: 20px;
  }
  /* Edit Page*/
  .edit_name_input_box {
    gap: 10px;
    align-items: start;
    flex-direction: column;
    margin: 10px 0 0 0;
  }
  .isEmpty_h3,
  .edit_name_p {
    display: none;
  }
  .isEmpty_h3_hidden,
  .edit_name_p_hidden {
    display: block;
  }
  /* Cabinet */
  .cabinet_insideWrapper {
    gap: 40px;
  }
  .cabinet_userInfo_box {
    padding: 20px;
  }
}